{% extends 'base.html.twig' %}

{% block body %}
    <h2>Paiement annulé</h2>
    <p>Votre commande n'a pas été finalisée.</p>
    <a href="{{ path('app_cart') }}">Retour au panier</a>
{% endblock %}
